/*CSS Document*/
*{
    margin: 0;
    padding: 8;
    backdrop-filter: blue;
}
header{
    width: 100;
    background: #234652;
    color:rgb(134, 24, 24);
    padding-top: 1em;
    padding-bottom: 1em;
}
nav {
	float: left;
	background: rgb(95, 3, 3);
	border-radius: 10px solid #000000;
 -moz-border-radius: 9px;
 -webkit-border-radius:9px;
 padding: 10px;
}

                section {
                    background: brown;
                    width: 90%;
                    max-width: 800px;
                    margin: 20px auto;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                }
                 
                    article header,
                    h1 .content {
                        padding: 40px;
                    }
                    
                    footer {
                        background: #333;
                        color: white;
                        text-align: center;
                        padding: 20px;
                        margin-top: 320px;
                    }
                        footer p {
                            margin: 0;
                        }
                        
                        footer #pc {
                            text-align: right
                        }